body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana;
}

table,th,td {
    border: 0px;
    margin: 0;
}

th,td {
    border: 0px;
    margin: 0;
    padding-right: 5rem;
    border-bottom: 2px solid lightgrey;
}

th,td {
    border-right: 2px solid lightgrey;
}

th:nth-child(6) {
    border-right: 2px solid lightgrey;
}

th:nth-of-type(1),td:nth-of-type(1) {
    border-left: 2px solid lightgrey;
}

h3 {
    display: flex;
    justify-content: center;
    color: limegreen;
}